<a href="https://colab.research.google.com/github/Jdtorres27/MujeresDigitales/blob/main/Clase1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introducción**
---
Para manejar un código limpio en Python, podemos seguir las siguientes recomentaciones:
1. Manejar siempre minúscula 
2. Se le puede añadir números
3. Aparecera error si no están seguidos la declaración de la variable con número asignado, es decir. Ejemplo: ana1 (Correcto) ana 1 (Incorrecto-error)
---
En Python hay varios tipos de datos compuestos y están disponibles por defecto en los interpretes.
**¿De que tipos?**
1. Númericos
2. Secuencias
3. Mapeos
4. Conjuntos usados para agrupar otros valores.

**Diferencia entre Constantes y Variables**
---
En matemáticas llamanos constante a una magnitud que no cambia con el paso del tiempo.
Ejemplo: Contabilidad: Gastos Fijos_Muebles de oficina
Ejemplo: 2: 6
Por otro lado, el concepto de variable, como la cantidad que es susceptible a tomar distintos valores númericos.
---**Ejemplo:**
El comando int es para hacer alusión a números enteros . A parte el comando float permite valores con decimales.

In [1]:
x=5
print(x)

5

In [2]:
a= 80
b=120
c=45
print(a,b,c)

80 120 45

**Tipos de Datos**
-----
**Enteros**


*   Son los números que no tienen decimales 
*   Pueden ser positivos y negativos

In [5]:
a=(int(3.964))
print(a)

3

In [6]:
b=int(203)
print(b)
c=int(3425)
print(c)

203
3425

El comando int es para hacer alusión  a números enteros. Aparte el comando float, permite valores con decicmales.

In [4]:
b=float(8.23)
print(b)

8.23

In [7]:
x=float(32.4)
print(x)
a=float(65.8)
print(a)

32.4
65.8

**Tipos Cadena**
---
Las cadenas son texto encerrado entre comillas (Simples o Dobles) y se pueden conformar de diferentes caracteres (Númericos, Alfabéticos, Especiales #$+%). Tener en cuenta, las cadenas admiten operadores como la suma y la resta.

In [10]:
val2="Hola Mundo"
print(val2)
val1="Luisa"
print(val1)

Hola Mundo
Luisa

In [11]:
n="Aprender"
z="Python"
print(n,z)

Aprender Python

In [12]:
nombre="July"
apellido="Torres" 
print(nombre, apellido)

July Torres

In [16]:
a1="Los animales "
b1="pueden ser salvajes o domésticos"
print(a1, b1)

Los animales  pueden ser salvajes o domésticos

**Tipo Boleaneos:**
---
Este tipo de variable solo tendrá un valor de Verdadero o Falso.
**Nota:**
Son valores muy usados en condiciones y bucles

In [15]:
lola=True
print("El valor es verdadero:", lola, "el cual es de tipo", type(lola))

El valor es verdadero: True el cual es de tipo <class 'bool'>

Python cuenta con tipos de datos que admiten colecciones:
1. Listas 
2. Tuplas
3. Diccionarios

**Tipos de conjuntos:**
Son una colección de datos que se repiten:

In [17]:
fru="pera", "manzana", "naranja"
color= "morado", "blanco", "azul"
print(fru,color)

('pera', 'manzana', 'naranja') ('morado', 'blanco', 'azul')

**Tipo listas**
---
Son listas la que almacenan vectores. Las listas siempre empiezan a nombarse a partir de 0.
Ejemplo de listas en Python:

In [ ]:
ines=['5','uva','lila','perro']
print(ines)
fe=ines[0:3:2]
print(fe)

**Tipo Tuplas**
---
Es una lista que no se puede modificar después de la creación de esta: Tuplas anidadas: Agrupación (Tuplas).

In [18]:
tupla=23,28,'hello'
print(tupla)
otra=tupla,(1,2,3,4)
print(otra)

(23, 28, 'hello')
((23, 28, 'hello'), (1, 2, 3, 4))

**Tipos de Diccionarios**
---
Define los datos uno a uno entre un campo (ID - Identificador-Calve) y un valor:

In [ ]:
datos_b={
    "nombres":"Diana",
    "apellidos":"Perea",
    "Cedula":"2345671",
    "est_civil":"Viuda",
    "lugar_nacimiento":"Neiva",
    "fecha_nacimiento":"24/12/1990"
      }

print("ID deldiccionario",datos_b.keys())
print("ID deldiccionario",datos_b.values())